body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #222222;
  margin: 10;
}

main {
  margin: auto;
  width: 80%;
}

.alert {
  background-color: #627BB3;
  margin: 50px;
}


h2 {
  /* background-color: #C8BBB1; */
  background-color: #627BB3;
  color: #FFECBF;
  margin: 0;
  margin-bottom: 0;
  padding: 0.50em;
  text-align: center;
  text-shadow: 2px 1px 2px #333;
  width: 100%;
}

h3 {
  /* background-color: #C8BBB1; */
  background-color: #627BB3;
  color: #ffffff;
  margin: 0;
  margin-bottom: 0;
  padding: 0.50em;
  text-align: center;
  text-shadow: 5px 1px 3px #333;
  width: 95%;
}


h4, h5, h6 {
  color: #050500
}

section:nth-of-type(odd) {
  /* background-color: #FFD4CA; */
  background-color: #627BB3;
}

section:nth-of-type(even) {
  background-color: #BFD3FF;
}

section {
  border-radius: 0.25em;
  box-shadow: 3px 4px 5px #D1B7A5;
  margin-bottom: 2em;
  padding: 1.5em;
}

form {
  background-color: #FFECBF;
  width: 70%;
  height: 450px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
  border-radius: 0.25em;
  box-shadow: 3px 4px 5px #B3A074;
}

/* a {
  color: #c9116a;
  font-weight: bold;
  text-decoration: none;
} */

a:visited {
  color:#ffffff;
}

a:hover {
  text-decoration: underline;
}

/***********   FORMS   ***********/

label {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding: 5px;
}

input {
  border-radius: 0.5em;
  display: inline-block;
  margin: 5px 5px;
  padding: 0.5em;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #B3A074;
}

.log-in, .log-out, .register {
  background-color: #627BB3;
  border-radius: 5px;
  color: #FFF4D9;
  min-height: 35px;
  min-width: 80px;
  outline:0;
  cursor: pointer;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  outline:0;
  border-bottom:1px solid #ffffff; 
  cursor: pointer;
}

/***********   TABLES   ***********/

table {
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;
}

th, td {
  padding: 0.5em;
  text-align: center;
}


tbody tr:nth-of-type(odd) {
  background-color: #FFF4D9;
}


thead tr {
  /*background-color: #DED0C5;*/
  background-color: #d8d8d8;
  color: #222222;
}


/**********   CLASSES   ***********/
.center {
  text-align: center;
}

.align-input {
  margin-left: 115px;
}